@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #eaf4ff;
}

.big-container{
    margin: 0% 5%
}

.logo-container{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.logo{
    font-size:1.3rem ;
    font-weight: 500;
    cursor: pointer;
}

.Nav-container{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    height: 10vh;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom:4%;
    position:sticky;
}

.Nav-Buttons-Container{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
   
    
}

.Nav-Buttons-Container ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    color:#454f66;
    height: 5rem;
    align-items: center;
}


.Nav-Buttons-Container ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Nav-Buttons-Container ul li:hover{
    transition: all ease 1s;
    color:rgb(100, 100, 100);
}

#Contact-Button{
    background-color: #fd4367;
    border-radius: 100px;
    padding: 2% 4%;
    color:white;
}

#Contact-Button:hover{
    background-color: rgb(79, 79, 168);
    transition: all ease 1s;
}

.section-1-container{
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: row;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.info-container h2{
    font-size: 3rem;
    margin-bottom: 4%;
}

.info-container p{
    margin-bottom: 2%;
}

.button-container-1{
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.section-1-button{
    height: 4rem;
    width: 14rem;
    border-radius: 100px;
    background-color: transparent;
    font-size:1rem;
}


#getStarted{
    background-color: #fd4367;
    color: white;
    border:none
}

#getStarted:hover{
    transition: all .3s;
    background-color: rgb(79, 79, 168);
}


.section-1-button:hover{
    transition: all .3s;
    background-color: rgb(79, 79, 168);
    color: white;
    border:none;
}

.Picture-Div{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    
}

.picture-1{
    width: 40%;
    height: 40%;
    border:1px solid black;
    position: relative;
    top: 10%;
    transform: rotate(60deg);
    background-color: pink;
    display: flex;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



.picture-2{
    width: 40%;
    height: 40%;
    border:1px solid black;
    top: 7%;
    transform: rotate(-60deg);
    background-color: purple;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.picture-3{
    width: 40%;
    height: 40%;
    border:1px solid black;
    left: 5%;
    margin-top: 20%;
    transform: translateY(-30%);
    transform: rotate(-60deg);
    background-color: lightblue;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.picture-4{
    width: 40%;
    height: 40%;
    border:1px solid black;
    top:-50;
    margin-top: 10%;
    transform: rotate(85deg);
    background-color: gold;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.Section-2-Container{
    margin-top: 15%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.features-tag{
    margin: 1% 0%;
    width: fit-content;
    padding: 1% 1%;
    border-radius: 100px;
    background-color: rgba(253, 67, 103, 0.1);
    color: #fd4367;
}


.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container h1{
    font-size: 3.5rem;
}

.button-Section-2-Learn-More{
    height: 4rem;
    width: 10rem;
    border-radius: 100px;
    font-size:1rem;
    background-color: transparent;
}

.button-Section-2-Learn-More:hover{
    background-color: rgb(79, 79, 168);
    transition: all ease .3s;
    color: white;
    border:none;
}

.card-container{
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: space-around;
}

#card-1{
    width: 22%;
    height: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#card-2{
    width: 22%;
    height: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
    


#card-3{
    width: 22%;
    height: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#card-4{
    width: 22%;
    height: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cards{
    background-color: white;
    border-radius: 12px;
}


.Card-Content-Container img{
    height: 4rem;
    width: 4rem;
    margin-bottom: 10%;
}

.Card-Content-Container h3{
    margin-bottom:5%;
    font-size: 1.3rem;
    font-weight: bold;
}

#card-1 p{
    margin:0;
}

.Card-Content-Container{
    display: flex;
    flex-direction: column;
    height: 80%;
}



.Section-3-Container{
    margin-top: 5%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.Section-3-Pics-Container{
    height: 90%;
    width: 60%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:4% ;
}

#PicOneSectionThree{
    height: 90%;
    width: 90%;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#PicTwoSectionThree{
    height: 30%;
    width: 30%;
    transform: translateX(-50%) translateY(-30%);
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.Section-3-Info-Container{
    height: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 8%;

}

.Section-3-Tag{
    margin-bottom: 4%;
    width: fit-content;
    padding: 1% 3%;
    border-radius: 100px;
    background-color: rgba(253, 67, 103, 0.1);
    color: #fd4367;
}

.Section-3-Info-Container h1{
    font-size: 3rem;
    line-height: small;
    margin-bottom: 5%;
}

.Section-3-Info-Container p{
    margin-bottom: 6%;
    font-size: 1.1rem;
}


.Section-3-Button{
    height: 4rem;
    width: 14rem;
    border-radius: 100px;
    background-color: #fd4367;
    font-size:1rem;
    color:white;
    border: none;
}


.Section-3-Button:hover{
    background-color: rgb(79, 79, 168);
    transition: all ease .6s;
    color: white;
    border:none;
}






/*Section 4*/


.Section-4-Container{
    margin-top: 7%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.Section-4-Title-Container{
    display: flex;
    flex-direction: column;
}

.Pricing-Tag{
    
    width: fit-content;
    padding: 1% 3%;
    border-radius: 100px;
    background-color: rgba(253, 67, 103, 0.1);
    color: #fd4367;
}

.Section-4-Title-Container h1{
    font-size: 3rem;
}


.Section-4-Card-Container{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin-top: 4%;
}

.Section-4-Card-1{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 28%;
    border-radius: 12px;
    padding: 2%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color:rgb(63, 66, 114);
}

.Card-Title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}

.Card-Title h4{
    font-weight: bold;
}

.card-tag{
    width: fit-content;
    padding: 1% 3%;
    border-radius: 100px;
    background-color: rgba(253, 67, 103, 0.1);
    color: #fd4367;
}


.discription-container{
    display: flex;
    flex-direction: column;

}

.discription-container h3{
    font-size: 3rem;
    margin-bottom: 3%;
}

.discription-container p{
    margin-bottom: 3%
}


.list-container{
    display: flex;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}




.list-container img{
    height: 1rem;
   width: 1rem;
   margin-right: 3%;
}


.list-items{
    margin-bottom:4%;
    width: 100%;
    display: flex;
    flex-direction: row;
}



.Section-4-Card-2{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 28%;
    border-radius: 12px;
    padding: 2%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color:rgb(63, 66, 114)
}


.Section-4-Card-3{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 28%;
    border-radius: 12px;
    padding: 2%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color:rgb(63, 66, 114)
}

.section-5-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}


.section-5-Tag{
    width: fit-content;
    padding: 1% 3%;
    border-radius: 100px;
    background-color: rgba(253, 67, 103, 0.1);
    color: #fd4367;
}

.section-5-title-container{
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;

}


.container-for-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.Contact-Form-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 45vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.left-side-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    width: 50%;
    height: 28vh;
    padding-left: 2%;
    margin-top:5%
}

.Full-Name-Div{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

#name-input{
    height: 3rem;
    margin-bottom: 10%;
    padding-left: 3%;
}

#email-input{
    height: 3rem;
    margin-bottom: 10%;
    padding-left: 3%;
}

#phone-input{
    height: 3rem;
    padding-left: 3%;
}

.right-side-container{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    

}

.right-side-container h3{
    margin-top: 10%;
}

.right-side-container-div{
    display: flex;
    flex-direction: column;
}

.text-area{
    height: 28vh;
    width: 35vh;
    border: none;
    background-color: rgb(233, 233, 233);
    padding-left: 3%;
}

.continer-for-divs{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.send-message-btn{
    width: 30%;
    margin-top:3%;
    height: 2rem;
    background-color: rgb(79, 79, 168);
    color: white;
    border:none;
}

.Section-6-Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left:0;
    height: 50vh;

    background-color:  rgb(13, 13, 68);
}

.logo-div-footer{
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 4%;
    color:white;
}

.section-6-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.section-6-divs{
    color:white;
    cursor: pointer;
}

.section-6-divs h4{
    margin-bottom: 20%;
}

.foot-line-div{
    margin-top:5%;
    border: 2px solid white;
}

.bottom-div-footer{
    display: flex;
    align-items: center;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    width: 20%;
    justify-content: space-around;
}