@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #eaf4ff;
}

.big-container{
    margin: 0% 5%
}

.logo-container{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.logo{
    font-size:1.3rem ;
    font-weight: 500;
    cursor: pointer;
}

.Nav-container{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    height: 10vh;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom:4%;
    position:sticky;
}

.Nav-Buttons-Container{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
   
    
}

.Nav-Buttons-Container ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    color:#454f66;
    height: 5rem;
    align-items: center;
}


.Nav-Buttons-Container ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Nav-Buttons-Container ul li:hover{
    transition: all ease 1s;
    color:rgb(100, 100, 100);
}

#Contact-Button{
    background-color: #fd4367;
    border-radius: 100px;
    padding: 2% 4%;
    color:white;
}

#Contact-Button:hover{
    background-color: rgb(79, 79, 168);
    transition: all ease 1s;
}

.section-1-container{
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: row;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.info-container h2{
    font-size: 3rem;
    margin-bottom: 4%;
}

.info-container p{
    margin-bottom: 2%;
}

.button-container-1{
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.section-1-button{
    height: 4rem;
    width: 14rem;
    border-radius: 100px;
    background-color: transparent;
    font-size:1rem;
}


#getStarted{
    background-color: #fd4367;
    color: white;
    border:none
}

#getStarted:hover{
    transition: all .3s;
    background-color: rgb(79, 79, 168);
}


.section-1-button:hover{
    transition: all .3s;
    background-color: rgb(79, 79, 168);
    color: white;
    border:none;
}

.Picture-Div{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    
}

.picture-1{
    width: 40%;
    height: 40%;
    border:1px solid black;
    position: relative;
    top: 10%;
    transform: rotate(60deg);
    background-color: pink;
    display: flex;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



.picture-2{
    width: 40%;
    height: 40%;
    border:1px solid black;
    top: 7%;
    transform: rotate(-60deg);
    background-color: purple;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.picture-3{
    width: 40%;
    height: 40%;
    border:1px solid black;
    left: 5%;
    margin-top: 20%;
    transform: translateY(-30%);
    transform: rotate(-60deg);
    background-color: lightblue;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.picture-4{
    width: 40%;
    height: 40%;
    border:1px solid black;
    top:-50;
    margin-top: 10%;
    transform: rotate(85deg);
    background-color: gold;
    border:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.Section-2-Container{
    margin-top: 15%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.features-tag{
    margin: 1% 0%;
    width: fit-content;
    padding: 1% 1%;
    border-radius: 100px;
    background-color: rgba(253, 67, 103, 0.1);
    color: #fd4367;
}


.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container h1{
    font-size: 3.5rem;
}

.button-Section-2-Learn-More{
    height: 4rem;
    width: 10rem;
    border-radius: 100px;
    font-size:1rem;
    background-color: transparent;
}

.button-Section-2-Learn-More:hover{
    background-color: rgb(79, 79, 168);
    transition: all ease .3s;
    color: white;
    border:none;
}

.card-container{
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: space-around;
}

#card-1{
    width: 22%;
    height: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 3%;
}
#card-2{
    width: 22%;
    height: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 3%;
}
    


#card-3{
    width: 22%;
    height: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 3%;
    
}
#card-4{
    width: 22%;
    height: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 3%;
}

.cards{
    background-color: white;
    border-radius: 12px;
}


.Card-Content-Container img{
    height: 4rem;
    width: 4rem;
    margin-bottom: 10%;
}

.Card-Content-Container h3{
    margin-bottom:5%;
    font-size: 1.3rem;
    font-weight: bold;
}

#card-1 p{
    margin:0;
}

.Card-Content-Container{
    display: flex;
    flex-direction: column;
    height: 80%;
}







